{% extends 'base/wrapper.html' %}

{% load static %}

{% block title %}
Homepage
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <img class="img-fluid" src="{% static 'images/senssale.jpg' %}">
    </div>
</div>


<div class="container py-4">
    <div class="row">
        <div class="col-10 mx-auto my-2 text-center">
            <h1 class="text-capitalize font-weight-bold">
                Our Products
            </h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-9 mx-auto col-md-6 col-lg-3 col-sm-6">
            <a href="{{product.get_url}}">
                <div class="card mb-4" style="border-radius: 15px; overflow: hidden">
                    <div class="p-4" style="width: 250px; height: 250px; display: flex; align-items: center;">
                        <img class="card-img-top" src="{{ product.image.url }}"
                            style="border-radius: 10px; overflow: hidden; max-height: 202px;">
                    </div>
            </a>
            <div class="card-footer d-flex justify-content-between">
                <a href="{{product.get_url}}" style="text-decoration: none; color: black"><p class="font_weight-bold mb-0 ">{{ product.name|truncatechars:25 }}</p></a>
                <h5 class="text-info font-itallic mb-0">${{ product.price }}</h5>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}