{% extends 'wrapper.html' %}

{% load static %}

{% block title %}
Product
{% endblock %}

{% block content %}
<div class="container py-4">
    <div class="row mt-4">
        <div class="col-10 mx-auto col-md-6 my-3">
            <img class="card-img-top" src="{% static 'images/product-test.png' %}">
        </div>
    </div>
</div>

<div class="col-10 mx-auto col-md-6 my-3">
    <div>
        <h1 class="product_title">Teddy bear</h1>
        <h5 class="text-info font-itallic mb-3">9.99$</h5>
        <p class="product_desc">Product description</p>
        <p class="text-justify product_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero nesciunt
            aliquam minus mollitia quo? Voluptatibus dolorum minima voluptas ipsa, voluptate deleniti. Aspernatur
            adipisci architecto nostrum corporis tempore esse dolore tempora porro dicta quae hic facilis,
            necessitatibus temporibus error culpa ipsum. Expedita quidem quisquam numquam! Eius nemo saepe ipsa
            assumenda repellendus, in repellat cupiditate, officia facere repudiandae rem velit fugit necessitatibus
            vitae eveniet perspiciatis? Ad eius voluptas reiciendis quibusdam est qui impedit assumenda dolorum vitae
            cupiditate sed amet aut officia, enim atque odio veniam repellendus voluptatibus. Sequi provident dolore
            enim fugit doloribus consectetur, laborum reiciendis? Commodi rerum porro corporis odit accusantium.</p>
            <p class="text-justify product_text">Our Of Stock</p>
    </div>
</div>
{% endblock %}